<!-- Pages/Home.razor -->

@page "/"
@inherits LayoutComponentBase
@using ShipAndTrack.Components

@* <div class="container">
    <h1>Welcome to Express Haven Shipping</h1>

    <div class="row">
        <div class="col-md-6">
            <p>
                Manage your packages and shipments with ease using our app.
            </p>
            <p>
                Sign in to track your packages, schedule shipments, and more.
            </p>
            <p>
            <NavLink href="/login" class="btn btn-primary">Sign In</NavLink>
              </p>
              <p>
                <NavLink href="/registration" class="btn btn-secondary">Registration</NavLink>
            </p>
          
        </div>
        <div class="col-md-6">
            <!-- Add package images -->
            <img src="images/package1.jpg" alt="Package 1" class="img-fluid" />
            <img src="images/package2.jpg" alt="Package 2" class="img-fluid" />
            <img src="images/package3.jpg" alt="Package 3" class="img-fluid" />
        </div>
    </div>
</div> *@

    <div class="row mt-3">
        <div class="col">
            <header>
                <h1>Welcome to Express Haven Shipping</h1>
            </header>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p>
                Manage your packages and shipments with ease using our app.
            </p>
            <p>
                Sign in to track your packages, schedule shipments, and more.
            </p>
        </div>
        <div class="col-md-6">
            <!-- Add an image or additional content here -->
            <img src="images/package1.jpg" alt="Package 1" class="img-fluid" />
            <img src="images/package2.jpg" alt="Package 2" class="img-fluid" />
            <img src="images/package3.jpg" alt="Package 3" class="img-fluid" />

        </div>
    </div>

       <!-- Add link to the dashboard -->
    <div class="row mt-4">
        <div class="col-md-12">
            <p>View your packages:</p>
            <a href="/Dashboard" class="btn btn-secondary">Dashboard</a>
        </div>
    </div>

