<!-- Pages/Login.razor -->
@page "/login"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using ShipAndTrack.Models
@using Microsoft.AspNetCore.Components.Forms


<div class="container">
    <h1>Login</h1>
    <hr>
    <EditForm Model="user" OnValidSubmit="HandleSubmit" class="row g-3" FormName="LoginForm">
        <ValidationSummary />
        <div class="col-md-6">
            <div>
                <label for="email">Email:</label>
                <InputText type="email" class="form-control" placeholder="youremail@email.com" @bind-Value="user.Email"
                    required />
            </div>
            <div>
                <label for="password">Password:</label>
                <InputText type="password" class="form-control" placeholder="Enter Password" @bind-Value="user.Password"
                    required />
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div>
            <p>You do not have an account? <a href="/registration">Register</a></p>
        </div>
    </EditForm>
</div>

@code {
    private User user = new User();
    private string password = string.Empty;
    protected void HandleSubmit(EditContext context)
    {
        if (context.Validate())
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
