@page "/package-registration"
@inherits LayoutComponentBase

<h3>Package Registration</h3>
<form method="post" >
    <label>Weight (oz - US ounces)</label>
    <input type="number" name="Weight" id="Weight" min=".5" step=".5">
    <button type="submit">Register Package</button>
</form>
@code {

}
