@page "/package-registration"
@inherits LayoutComponentBase

<h1>Package Registration</h1>

@code {
/*
    public Package? Package { get; set; }
    protected override void OnInitialized() => Package ??= new();

    protected void RegisterPackage()
    {

    }*/
}
