<!-- Pages/Registration.razor -->
@page "/registration"
@using System.ComponentModel.DataAnnotations
@inherits LayoutComponentBase
@inject RegistrationService RegistrationService
@inject NavigationManager NavigationManager


<h1>Registration</h1>

