@page "/track"
@using ShipAndTrack.Services
@using ShipAndTrack.Models
@inject PackageService packageService

<div class="container">
    <div class="row">
        <h2>Track Your Package</h2>
    </div>
    <div class="row align-items-center mt-2">
        <div class="col-auto">
            <input class="form-control" @bind="@searchValue" placeholder="Tracking number" aria-label="Search"
                type="search" name="trackingNumber" id="trackingNumber">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="FetchTrackingStatus">Track Package</button>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(latestTrackingStatus))
    {
        <div class="mt-3">
            <h3>Status: @latestTrackingStatus</h3>
        </div>
    }
</div>

@code {
    private string searchValue;
    private string latestTrackingStatus = "Tracking status will be displayed here.";

    private async Task FetchTrackingStatus()
    {
        if (!string.IsNullOrEmpty(searchValue))
        {
            latestTrackingStatus = "button clicked";
        }
        else
        {
            latestTrackingStatus = "No package found";
        }

    }
}
