@page "/tracking"

<!DOCTYPE html>
<html>

<head>
    <title>Package Tracking</title>
</head>

<body>
    <h2>Track Your Package</h2>
    <form method="post">
        <div>
            <label for="trackingNumber">Tracking Number:</label>
            <input type="text" id="trackingNumber" name="trackingNumber" required />
        </div>
        <div>
            <input type="submit" value="Track Package" />
        </div>
    </form>

    @* @if (Model.PackageStatus != null)
    {
    <div>
    <h3>Status: @Model.PackageStatus</h3>
    </div>
    } *@
</body>

</html>
