@page "/track-package"
@using Microsoft.AspNetCore.Antiforgery
@attribute [RequireAntiforgeryToken(required: false)]
@using Microsoft.AspNetCore.Components.Forms


<h2>Track Your Package</h2>

<form method="post" @onsubmit="CheckPackageStatus" @formname='trackingForm'>
    <AntiforgeryToken />
    <div>
        <label for="trackingNumber">Tracking Number:</label>
        <input value="@trackPackageModel.TrackingNumber" @oninput="HandleInput" />
    </div>
    <div>
        <button type="submit">Track Package</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(trackPackageModel.PackageStatus))
{
    <div>
    <h3>Status: @trackPackageModel.PackageStatus</h3>
</div>
}

@code {
    private TrackPackageModel trackPackageModel = new TrackPackageModel();

    private async Task CheckPackageStatus()
    {

        trackPackageModel.PackageStatus = "In Transit";
    }

    private void HandleInput(ChangeEventArgs e)
    {
        trackPackageModel.TrackingNumber = e.Value?.ToString();
    }

    public class TrackPackageModel
    {
        public string TrackingNumber { get; set; }
        public string PackageStatus { get; set; }
    }
}
